html{
  font-size: 18px;
}
body{
  font-family: Helvetica;
  background-color: white;
  line-height: 1.4;
}
.container{
  width: 960px;
  margin: 0 auto;
}
#banner{
  height: 31rem;
  background-image: url(https://raw.githubusercontent.com/zerlentes/TortoiseshellOptics/master/resources/photos/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header{
  height: 3.4rem;
  width: 100%;
  background-color: cadetblue;
  font-size: 1rem;
  text-transform: capitalize;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 1rem;
}
header img{
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}
#logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}
a{
  color: white;
}
nav span{
  padding-right: 2rem;
}
h1{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  position: relative;
  top: 14.4rem;
  left: 2rem;
  float: right;
  padding: 1.5rem 5rem;
}
#images{
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.image-text{
  height: 8rem;
  padding-right: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.image-text #paper{
  width: 3.5rem;
}
.image-text img{
  width: 5rem;
}
.image-text p{
  text-transform: capitalize;
}
#exams{
  padding-top: 0.5rem;
}
#custom{
  padding-top: 2.2rem;
}
#fast{
  padding-top: 1.7rem;
}
h2{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  color: white;
  width: 10rem;
  text-indent: 1.25rem;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}
.text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 5rem;
}

#philosophy{
  width: 35%;
  padding-right: 5%;
}
#appointments{
  width: 35%;
}
footer{
  background-color: azure;
  height: 9.5rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
footer img{
  height: 1.5rem;
  padding-left: 4rem;
  padding-right: 1rem;
}
